<!--!header-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//DE">

<html>
<head>
<title>{title}</title>
<link href='templates/night.css' rel='stylesheet' type='text/css'>
{headscript}{script}
</head>

<body bgcolor='#000000' text="#FFFFFF">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%"  height="118">








  <tr>
    <td width="100%" valign="top" background="templates/night/mitte.gif" height="100">




    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%">
                <tr>
        <td width="258" height="100" style="background-repeat: no-repeat" background="templates/night/olinks.GIF"></td>








                    <td width="50%" class='pageheader'>
                        <p align="center">          <span class='pagetitle'>{title}
            </span>
<br>•{motd} •&nbsp;{mail} •&nbsp;{petition} •</p>
                    </td>
        <td width="258" height="100" style="background-repeat: no-repeat" background="templates/night/orechts.gif"></td>
                </tr>
    </table>
    </td>
  </tr>




  <tr>
    <td width="100%" valign="top" height="18">


    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="100%">
      <tr>

        <td width="140" valign="top" bgcolor='#000000'>

                    <table border="0"  cellpadding="0" cellspacing="0"  width="100%" height="100">
                        <tr>
                            <td width="100%" align="center">
                        <table border="0" class='nav' cellpadding="0" cellspacing="0">
              <tr>
                <tr><td><img src='templates/schwarz/links.jpg' width='140' height='25' alt=''></td></tr>
                <tr><td class="nav"><center>{nav}</center></td></tr>
                <tr><td><img src='templates/schwarz/links.jpg' width='140' height='25' alt=''></td></tr>
              </tr>
            </table>
            </td>
          </tr>
        </table>

        </td>
       <td style="border-collapse: collapse" rowspan=2 valign='top' background="templates/night/hasenhausenbeinacht.jpg"><table width='150' align='right' border='0'>                            <tr>
                                <td>
                                    <p>{stats} <br>
                   {useronline} <br>
                    {paypal} <br>
</p>
                                </td>
                            </tr>
</table>
      <!--!footer-->
    </td>


      </tr>
    </table>
    </td>
  </tr>
  <td border="0" cellpadding="0" cellspacing="0"  width="100%" background="templates/night/unten.gif" height="16">
        </td>
<tr>
      <td colspan="2" class="footer">
      <table class="noborder" border="0"
 cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td style="width: 350px;">({pagegen})<a
 style="font-weight: bold;"
 href="http://hase-run.h1x.com/logd/index.php"><span
 style="color: rgb(255, 0, 0);"></span></a></td>
            <td style="width: 456px;" class="noborder">&nbsp;{copyright}.
Skin: <a style="font-weight: bold;"
 href="http://hase-run.h1x.com/logd/index.php"><span
 style="color: rgb(0, 255, 0);">Cha</span><span
 style="color: rgb(255, 0, 0);">os</span><span
 style="color: rgb(0, 255, 0);">Mas</span><span
 style="color: rgb(255, 0, 0);">ter</span> <span
 style="color: rgb(0, 255, 0);">Le</span><span
 style="color: rgb(255, 0, 0);"><span
 style="color: rgb(0, 255, 0);">p</span>us</span></a>
            </td>
            <td class="noborder" align="right">{source}</td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
</table>
<table cellSpacing="0" cellPadding="4" width="100%" border="0">
  <tr class='noborder'>
    <td class="footer" colSpan="2">
  </tr>
</table>
</html>

<!--!statstart--><table cellpadding=2 cellspacing=0 class='charinfo' width='150'>
<!--!stathead--><tr><td class='charhead' colspan='2'><b>{title}</b></td></tr>
<!--!statrow--><tr><td class='charinfo'><b>{title}</b></td><td class='charinfo'>
  `^{value}</td></tr>
<!--!statbuff--><tr><td class='charinfo' colspan='2'><b>{title}:</b>`n{value}</td></tr>
<!--!statend--></table>
<!--!navhead--><span class="navhead">—{title}—<br></span>
<!--!navhelp--><span class="navhelp">{text}<br></span>
<!--!navitem--><a href="{link}"{accesskey}class='nav' {popup}>{text}<br></a>
<!--!login-->
<table width='212' height='234' border='0' cellpadding='0' cellspacing='0' background='images/logindragon.gif' class='noborder'>
    <tr>
        <td valign='bottom' align='center' class='noborder'>
            {username}: <br><input name='name' accesskey='u' size='10'><br>
            {password}:<br><input name='password' accesskey='p' type='password' size='10'><br>

            <input type='submit' value='{button}' class='button'><br>
            <img src='images/trans.gif' width='1' height='37' align='absmiddle' alt=''>
            <img src='images/trans.gif' width='1' height='15'>
        </td>
    </tr>
</table>
<!--!full-->
<table width='212' height='234' border='0' cellpadding='0' cellspacing='0' background='images/logindragon.gif' class='noborder'>
   <tr>
      <td valign='bottom' align='center' class='noborder'>
         <br>`b`$Server<br><br>
         voll!`b<br><br><br>
         <img src='images/trans.gif' width='1' height='37' align='absmiddle' alt=''>
      </td>
   </tr>